/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
}

.game-container {
  width: clamp(220px, 100%, 720px);
  height: 100%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 100px;
  background-color: #426dbd;
  position: relative;
  overflow: hidden;
}

.sky {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  height: 100px;
  background-image: url("images/sky.png");
  background-repeat: repeat-x;
  -webkit-animation: movingX 10s linear infinite;
          animation: movingX 10s linear infinite;
}

.plane {
  position: absolute;
  background-image: url("images/plane.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 99;
}

.explode {
  display: none;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #426dbd;
  height: 16%;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  font-size: 40px;
}
.ceiling {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100px;
  background-image: url("images/ceiling.png");
  background-repeat: repeat-x;
  -webkit-animation: movingX 4.5s linear infinite;
          animation: movingX 4.5s linear infinite;
}

.land {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  background-image: url("images/land.png");
  background-repeat: repeat-x;
  -webkit-animation: movingX 4.5s linear infinite;
          animation: movingX 4.5s linear infinite;
}

.stop-animation {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.obstacle {
  position: absolute;
  width: 50px;
  height: 300px;
  background-image: url("images/pipe.png");
  -o-object-fit: cover;
     object-fit: cover;
}

.top-obstacle {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes movingX {
  from {
    background-position: 0;
  }
  to {
    background-position: -1000px;
  }
}

@keyframes movingX {
  from {
    background-position: 0;
  }
  to {
    background-position: -1000px;
  }
}